* {
    box-sizing: border-box;
}

:root {
 --dark: #9b2cd4;
 --white: white;
 --purple: #5c048c;
 --mint: #11d9a8;

 --main-font: 
}

body {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family:monospace;
    background-color: var(--dark);
}

.title {
    font-size: 72px;
    background-image: linear-gradient(175deg var(--purple) 25%, #E233FF 100%);
    -webkit-background-clip: text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    padding-left: 40px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--purple);
}

header span {
    color: var(--purple);
    background-color: var(--white);
    margin: 0px;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    /* font-size: 1.4rem; */
    font-size: 2rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: #11d9a8;
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top:20px;
    margin-bottom: 45px;
}

.hero {
    padding: 2% 6%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    min-height: 30vh;
    background-image: url("../assets/images/th-1842973526");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero div {
    flex: 0 0 90%;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.page-section {
    margin:25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--purple);
    font-size: 4vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 00 77%;
}

.page-section p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--purple);
    display: flex;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50%- 1em);
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    font-size: 2rem;
    color: var(--white); 
}

/* .flex-item img {
    display: block;
    width: 100%;
} */

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: rgba(0,0,0,0.3);
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: var(--white);
    padding: 5px;
    font-size: 1.3rem;
    display: inline-block;
}