* {
    box-sizing: border-box;
}

/* color vars to be used throughout */
:root {
 --dark: #9b2cd4;
 --white: white;
 --purple: #5c048c;
 --mint: #11d9a8; 
}

body {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: 'camcorderFont';
    background-color: var(--dark);
}

/* sets font size for the title class */
.title {
    font-size: 72px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* settings for the header element */
header {
    padding: 15px 6% 15px 0;
    display: flex;
    padding-left: 40px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--purple);
}

/* settings for the span element insided of header */
header span {
    color: var(--purple);
    background-color: var(--white);
    margin: 0px;
    font-size: 4vw;
    line-height: 1;
}

/* settings for the nav element insided of header */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* settings for the a tags inside of the header element */
nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    /* font-size: 1.4rem; */
    font-size: 2rem;
}

/* changes color of nav options when moused over */
nav a:hover {
    background-size: 100% 100%;
    color: #11d9a8;
}

/* pushes nav to the right */
nav a:last-child {
    margin-right: 0;
}

main {
    margin-top:20px;
    margin-bottom: 45px;
}

/* settings for the main banner. img included in css */
.hero {
    padding: 2% 6%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    min-height: 30vh;
    background-image: url("../assets/images/th-1842973526");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero div {
    flex: 0 0 90%;
}

/* settings for the page-wrapper class */
.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

/* settings fo the page-section class under page-wrapper */
.page-section {
    margin:25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

/* settings for the header under the page-section class */
.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--purple);
    font-size: 4vw;
    line-height: 1.1;
}

/* settings for div under page-section class */
.page-section > div {
    flex: 00 77%;
}

/* settings for p element under page-section class */
.page-section p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}

/* settings for the flex-container class */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* settings for the flex-item class within the flex-container class */
.flex-item {
    border: 5px solid var(--purple);
    display: flex;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50%- 1em);
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    font-size: 2rem;
    color: var(--white); 
}

/* makes the first box larger than the remaining ones */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

/* shades flex=item when moused over */
.flex-item:hover {
    background-color: rgba(0,0,0,0.3);
}

/* settings for the contact section and address element within it */
.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* settings for the a tags within the address element */
.contact address a {
    color: var(--white);
    padding: 5px;
    font-size: 1.3rem;
    display: inline-block;
}

/* allows for a font to be used that's not included by default */
@font-face {
    font-family: 'camcorderFont';
    src: url("../assets/vcr-osd-mono/VCR_OSD_MONO.ttf");
}